.admin-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 300px;
  margin: 100px auto;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.erro {
  color: red;
}